*{
    background-color: rgb(2, 23, 23);
    color: white
}
.hide{
    display:none;
}
.show{
    display:block;
}
.msg-item{
    list-style: none;
    padding: 10px;
    /* background-color: rgb(12, 12, 12); */
    font-size: 20px;
    margin-top: 10px;
    color: white;
    border: 1px solid rgb(150, 147, 147);
    border-radius: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.input-msg{
    width: 25%;
    margin: auto;
}
.sender-name{
    font-family:cursive;
    /* letter-spacing: 2px; */
}
button{
    background-color: aliceblue;
    color: black;
    border-radius: 50px
}